header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo h3{
    color: white;
}

/* Nav */
nav{
    display: flex;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

/* RECHERCHE */
.recherche{
    display: flex;
    align-items: center;
    gap: 5px;
}

.recherche input{
    padding: 5px;
}

.recherche button{
    padding: 5px;
    cursor: pointer;
}


body {
    background: black;
    height: 100vh;
    background-image: url("images/porsche_acceuil.png");
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
}

.slogan{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}

.slogan h2{
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color:rgb(252, 252, 251);
}

.slogan h1{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;
    color:rgb(252, 252, 251);
}


/* Bouton catalogue */
.bouton-catalogue{
    position: absolute;
    top: 60%;
    left: 8%;
}

.bouton-catalogue a{
    display: inline-block;
    background: #e5e5e5;
    color: black;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 14px;
    letter-spacing: 1px;
}

.bouton-catalogue a:hover{
    background: white;
}