header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div h3{
    color:rgb(252, 252, 251);
}

nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color:rgb(252, 252, 251);
    text-decoration: none;
}


body {
    background: black;
    height: 100vh;
    background-image: url("images/porsche_acceuil.png");
    background-size: contain;   /* PAS cover */
    background-position: center;
    background-repeat: no-repeat;
}

.slogan{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}

.slogan h2{
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color:rgb(252, 252, 251);
}

.slogan h1{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;
    color:rgb(252, 252, 251);
}