header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo h3{
    color: white;
}

/* Nav */
nav{
    display: flex;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

/* RECHERCHE */
.recherche{
    display: flex;
    align-items: center;
    gap: 5px;
}

.recherche input{
    padding: 5px;
}

.recherche button{
    padding: 5px;
    cursor: pointer;
}

body {
    background: black;
    height: 100vh;
    background-image: url("images/bugatti_catalogue1.png");
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
}






.catalogue{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.carte{
    width: 220px;
    background: white;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.carte img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.carte h3{
    font-size: 14px;
    margin: 10px 0 5px;
}

.carte p{
    font-size: 12px;
    color: gray;
}

.carte:hover{
    transform: scale(1.03);
    transition: 0.2s;
}